In [44]:
pacman::p_load(tidyverse, hflights)

Installing package into 'C:/Users/SIGMA/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
Warning message:
"unable to access index for repository http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.6:
  impossible d'ouvrir l'URL 'http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.6/PACKAGES'"

package 'hflights' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\SIGMA\AppData\Local\Temp\RtmpYLno1e\downloaded_packages

hflights installed

In [48]:
HF <- as_tibble(hflights)

In [53]:
HF %>%
group_by(CancellationCode, UniqueCarrier) %>%
summarise(n = n(),
          m = mean(DepDelay, na.rm = T),
          sd = sd(DepDelay, na.rm = T)
         ) %>%
filter(CancellationCode != "") %>%
arrange(-n)

   CancellationCode UniqueCarrier n   m          sd
1  B                XE            751  52.266667  58.226733
2  A                WN            517 109.800000 244.968774
3  B                CO            436  60.666667  83.578307
4  A                XE            331  91.000000 110.995495
5  B                WN            181  -4.000000         NA
6  A                OO            121  11.285714  18.427464
7  B                OO             87  37.400000  46.035856
8  B                MQ             71        NaN         NA
9  A                EV             60  34.666667  90.797944
10 C                XE             50  83.000000         NA
11 A                MQ             39  -5.333333   2.516611
12 A                CO             37  60.333333 109.737566
13 B                AA             29        NaN         NA
14 A                US             27  72.000000 114.551299
15 B                DL             27 110.000000         NA
16 C                MQ             25        NaN         NA
17 A                UA             21  25.750000  56.192378
18 A                AA             20   5.500000   3.535534
19 B                US             17 135.000000         NA
20 C                OO             15        NaN         NA
21 B                EV             14        NaN         NA
22 A                DL             13  42.000000         NA
23 B                B6             13        NaN         NA
24 B                FL             12        NaN         NA
25 C                AA             11        NaN         NA
26 B                UA             10        NaN         NA
27 A                FL              8  64.000000         NA
28 A                B6              5        NaN         NA
29 C                WN              5        NaN         NA
30 B                F9              4        NaN         NA
31 C                UA              3        NaN         NA
32 A                F9              2 -10.000000         NA
33 C                CO              2  24.000000         NA
34 C                DL              2        NaN         NA
35 C                EV              2        NaN         NA
36 C                US              2        NaN         NA
37 A                YV              1        NaN         NA
38 C                FL              1        NaN         NA
39 D                OO              1        NaN         NA

In [23]:
summarise(df,
          moyX = mean(x),
          medX = median(x),
          moyY = mean(y),
          medY = median(y),
          n = n()
         )

  moyX medX moyY medY n
1 5.5  5.5  15.5 15.5 10

Warning message in mean.default(.):
"argument is not numeric or logical: returning NA"

[1] NA